
.imagenLogo {
  width: 140px; 
  height: 140px; 
  margin-left: 0px;
}
.imagenBanner {
  width: 660px; 
  height: 140px;
  margin-left: 280px; 
}

.fuente-letra {
    font-family:sans-serif ;
  }
/*Color de fondo de la pagina*/
body {
  font-family: Arial, sans-serif; 
  background-color: #fbdcc4; 
}
form {
  background-color: #fbdcc4;
  padding: 20px; 
}
  

.menu {
    background-color: #7D0633;
    color: rgb(255, 255, 255); 
    border: none; 
    border-radius: 10;
    padding: 10;
  }

.header {
    background-color: #7D0633; 
    color: rgb(144, 32, 32);

  }
  
.footer {
  font-family: Arial, sans-serif;
  background-color: #31112c; 
  color: rgb(255, 255, 255);
  border-radius: 10; 
  margin: 0; 
  padding: 0; 
  text-align: center;
  height: 30px;line-height: 30px;
}

.button {
    background-color: #7D0633; /* Cambia esto al color deseado en formato hexadecimal */
    color: white; /* Cambia el color del texto para que sea legible en el fondo elegido */
    border: none; /* Elimina el borde del botón */
    border-radius: 0px; /* Añade esquinas redondeadas al botón */
    font-size: 16px; /* Tamaño del texto en el botón */
    width: 125px;
    height: 35px;
    cursor: pointer; 
}
  
.custom-button {
  background-color: #ff5733; /* Cambia esto al color deseado en formato hexadecimal */
  color: white; /* Color del texto en el botón */
  border: none;
}

.ant-form-item-required:before {
  content: "*";
  margin-left: 4px;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
}
  
.button-link {
  background-color: #7D0633; /* Color de fondo del botón y el enlace */
  color: #fff; /* Color del texto del botón y el enlace */
  padding: 8px 16px; /* Espaciado interno del botón y el enlace */
  text-decoration: none; /* Elimina la decoración de texto predeterminada del enlace */
  margin: 10px;
  line-height: 1;
  border-radius: 0px;
  cursor: pointer; /* Cambia el cursor al puntero al pasar el mouse */
  font-weight: bold; /* Peso de la fuente en negrita para el botón y el enlace */
}

.button-link:hover {
  background-color: #7D0633; 
}

  